---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.featured-post {
  padding: 1.2rem;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 12px;
  margin-bottom: 1.5rem;
}